<nav id="nav_site" class="navbar navbar-default">
	<div class="container-fluid">
		<a id="titre_nav" class="navbar-brand" href="/">#BasketStats</a>
		<ul id="info-account" class="navbar-nav ml-auto" *ngIf="connect else noconnect">
			<button mat-button [matMenuTriggerFor]="menu">
			  <span>{{username}}</span>
			  <mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
			  <a href="/mon-profil" mat-menu-item>
			    <span>Mon profil</span>
			  </a>
			  <a href="/mon-calendrier" mat-menu-item>
			    <span>Mon calendrier</span>
			  </a>
			  <a href="/mes-equipes" mat-menu-item>
			    <span>Mes équipes</span>
			  </a>
			  <a mat-menu-item (click)="deconnexion()">
			    <span>Déconnexion</span>
			  </a>
			</mat-menu>
		</ul>
		<ng-template #noconnect>
			<ul id="info-account" class="navbar-nav ml-auto">
				<li class="li-account">
					<a id="button_connection" (click)="openLoginModal()">Se Connecter <i class="fas fa-angle-down"></i></a>
				</li>
				<li class="li-account">
					<a class="btn btn-outline-danger" href="/inscription" id="button_inscription" >Inscription</a>
				</li>
			</ul>
		</ng-template>
	</div>
</nav>
<ul id="nav_site_secondaire" class="nav nav-justified navbar-light bg-light">
	<li class="nav-item">
		<a class="nav-link" href="/">Accueil</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/clubs">clubs</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/faq">FAQ</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/fonctionnalites">Fonctionnalités</a>
	</li>
</ul>