<mat-form-field appearance="outline" class="full-width">
    <mat-label>Adresse</mat-label>
    <input #adresseInput [formControl]="adresseCtrl" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let adresse of filteredAdresses" [value]="adresse">
                <p>{{adresse.properties.label}}</p>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</mat-form-field>
