<table class="table-match">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Heure</th>
            <th scope="col">Equipe</th>
            <th scope="col">Adversaire</th>
            <th scope="col">Résultat</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody *ngFor="let matchMonth of matchsByMonth">
        <tr class="tr-month">
            <td colspan="100%">{{matchMonth[0].dateMatch.toLocaleString(fr, { month: "long" })}}</td>
        </tr>
        <tr  *ngFor="let match of matchMonth">
            <td>{{match.dateMatch | date:'dd/MM/yy'}}</td>
            <td>{{match.heureMatch}}</td>
            <td>{{match.equipe.nom}}</td>
            <td>{{match.adversaire}}</td>
            <td *ngIf="match.scoreEquipe==null||match.scoreAdversaire==null;"></td>
            <td *ngIf="match.scoreEquipe!=null&&match.scoreAdversaire!=null&&match.scoreEquipe>match.scoreAdversaire;">V</td>
            <td *ngIf="match.scoreEquipe!=null&&match.scoreAdversaire!=null&&match.scoreEquipe<match.scoreAdversaire;">D</td>      
            <td>{{match.scoreEquipe}} - {{match.scoreAdversaire}}</td>
        </tr>
    </tbody>
</table>