.container{
    margin-top: 5%;
}

.titre-form{
	margin-bottom: 3%;
}

.create-club{
    width: 100%;
}

.div-form-create{
    margin: 0;
    width: 100%;
    vertical-align: middle;
}

.div-form-create{
    padding: 3%;
    text-align: center;
}

.div-create-club {
    margin-top:2%;
    border: solid 1px #bbb;
    border-radius: 10px;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}
