.div_photo_couverture>img{
    width: 100%;
    height: auto;
    padding:0;
}

.div_infos_club{
    width: 80%;
    height: 40%;
    background-color: white;
    display: inline-block;
    text-align: left;
}

.div_logo_club{
    margin-left: 8%;
    width: 12%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.logo_club{
    width: 100%;
    height: auto;
}

.div_infos_club{
    margin-left: 20%;
}

.Titre_Infos_club{
    font-weight: 650;
}

/** NAVBAR ***/
#nav_site_secondaire{
    font-weight: 700;
    color: #bbb;
}

.nav-item:hover, .nav-item:focus {
    color: #66757f;
    border-bottom: 3px solid #66757f;
    margin: 0;
}
.nav-item{
    margin-bottom: 3px;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
