<div class="div-vue-equipe">
    <div class="col-lg-4 offset-lg-4 col-md-8 offset-md-2 col-sm-12 col-xs-12">
        <div class="input-group">
            <mat-form-field appearance="outline">
                <mat-label>Rechercher une équipe</mat-label>
                <input matInput [formControl]="nomFilter">
            </mat-form-field>
        </div>
        <div class="form-group row">
            <button mat-raised-button  class="btn btn-success create-equipe full-width" (click)="openCreateEquipeDialog()"> <i class="fa fa-plus-circle"></i> Créer une équipe</button>
        </div>
    </div>
    <div class="div-filter">
        <mat-form-field>
            <mat-select placeholder="Sexe" [formControl]="sexeFilter">
                <mat-option value="Tous" selected>Tous</mat-option>
                <mat-option value="Masculin">Masculin</mat-option>
                <mat-option value="Féminine">Féminine</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="div-tableau">
         <table mat-table [dataSource]="dataTable" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                <td mat-cell *matCellDef="let equipe"> {{equipe.nom}} </td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
                <td mat-cell *matCellDef="let equipe"> {{equipe.category}} </td>
            </ng-container>
            <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
                <td mat-cell *matCellDef="let equipe"> {{equipe.sexe}}</td>
            </ng-container>
            <ng-container matColumnDef="division">
                <th mat-header-cell *matHeaderCellDef> Division </th>
                <td mat-cell *matCellDef="let equipe"> {{equipe.niveau}} {{equipe.division}}</td>
            </ng-container>
            <ng-container matColumnDef="poule">
                <th mat-header-cell *matHeaderCellDef> Poule </th>
                <td mat-cell *matCellDef="let equipe"> {{equipe.poule}}</td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let equipe">
                    <a href="/equipe/{{equipe.id}}/interne">
                        Plus d'informations
                    </a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
    </div>
</div>

       