<form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>
        Vous avez déjà un compte ?
    </h1>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email ou identifiant</mat-label>
        <input formControlName="username" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input type="password" formControlName="password" matInput>
    </mat-form-field>
    <button type="submit" class="btn btn-success full-width">Se connecter</button>
    <a href="/motdepasseoublie">Mot de passe oublié ?</a>
    <mat-divider></mat-divider>
    <p>Nouveau sur BasketStats</p>
    <a href="/inscription" class="btn btn-info full-width">S'inscrire</a>
</form>